.principal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background: rgb(3, 10, 36);
}

.page {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	background: rgb(3, 10, 36);
}

.page p {
	color: white;
}
