.btn button {
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	background-color: rgb(255, 204, 65);
	transition: ease-in 0.3s;
	cursor: pointer;
	color: white;
	font-size: 1rem;
}

.btn button:hover {
	transform: scale(1.05);
}

.btn button:first-child {
	margin-right: 10px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.link-card {
	text-decoration: none;
}

.page {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	background: white;
}

.page p {
	color: black;
}
