* {
	/* bug */
	background-color: #a6d44a;

	/* water */
	background-color: #67a8e9;

	/* normal */
	background-color: #a5a8ac;

	/* fighting */
	background-color: #e9678c;

	/* flying */
	background-color: #a5bbe9;

	/* poison */
	background-color: #bc82d6;

	/* ground */
	background-color: #e98e60;

	/* rock */
	background-color: #d1c4a1;

	/* ghost */
	background-color: #6a7cb4;

	/* steel */
	background-color: #81a2ad;

	/* fire */
	background-color: #ffb27b;

	/* grass */
	background-color: #80c979;

	/* electric */
	background-color: #fde26a;

	/* psychic */
	background-color: #ff8b8f;

	/* ice */
	background-color: #a2d6ce;

	/* dragon */
	background-color: #4997db;

	/* dark */
	background-color: #7f7a88;

	/* fairy */
	background-color: #f1aded;
}
